<%= form_for @workout do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :information %>
        <%= f.text_field :information %>
    </div>
    <div>
        <%= f.label :workout_exercises %>
        <%= f.fields_for :workout_exercises do |we_fields| %>
            <div>
                <%= we_fields.label :exercise_id %>
                <%= we_fields.collection_select :exercise_id, Exercise.all, :id, :name %>
            </div>
            <div>
                <%= we_fields.label :sets %>
                <%= we_fields.number_field :sets %>
            </div>
            <div>
                <%= we_fields.label :reps %>
                <%= we_fields.number_field :reps %>
            </div>
        <% end %>
    </div>
    <%= f.submit %>
<% end %>






