<div class="card mb-3 <%= "border-warning" if starred?(workout) %>">
    <a href="<%= workout_path(workout) %>">
        <div class="card-header text-dark <%= "border-warning" if starred?(workout) %>">
            <div class="row">
                <div class="col-md-6">
                    <%= workout.name %>
                </div>
                <div class="col-md-6 text-right">
                    <%= pluralize(workout.starred_users.size, "star") %> | created <%= ago_in_words(workout.created_at) %>
                </div>
            </div>
        </div>
    </a>
    <div class="card-body">
        <p class="card-text">Created by: <%= link_to workout.user.username, profile_path(workout.user.username) %></p>
        <p class="card-text"><%= workout.information %></p>
        <p class="card-text">Muscles trained:
            <% workout.muscles.uniq.each do |muscle| %>
                <%= link_to muscle.name, muscle %>
            <% end %>
        </p>
    </div>
</div>