<div class="row" >
    <aside class="col-md-3">
        <div class="p-3 bg-light rounded navbar-nav ml-auto text-center border">
            <%= form_tag current_uri, method: :get do %>
                <div class="col-md-12 mb-3">
                    <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search by title", value: (params[:search] if params[:search].present?) %>
                </div>

                <div class="col-md-12 mb-3">
                    <%= collection_select nil, :muscle_id, @muscles, :id, :name, {include_blank: "Search by muscle", selected: (params[:muscle_id] if params[:muscle_id].present?)}, {class: "form-control"} %>
                </div>

                <div class="col-md-12 mb-3">
                    <%= collection_select nil, :exercise_id, @exercises, :id, :name, {include_blank: "Search by exercise", selected: (params[:exercise_id] if params[:exercise_id].present?)}, {class: "form-control"} %>
                </div>

                <div data-toggle="buttons" class="col-md-12 mb-2 form-row btn-group">
                    <div class="col-md-6 mb-0">
                        <label class="btn btn-outline-secondary btn-block">
                            <%= radio_button_tag "sort", "new", (true unless params[:sort] == "stars") %>New
                        </label>
                    </div>

                    <div class="col-md-6 mb-0">
                        <label class="btn btn-outline-secondary btn-block">
                            <%= radio_button_tag "sort", "stars", (true if params[:sort] == "stars") %>Stars
                        </label>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <%= number_field :amount, nil, {placeholder: "Choose how many to display", value: (params[:amount] if params[:amount].present?), class: "form-control"} %>
                </div>

                <div class="col-md-12 mb-3">
                    <button type="submit" class="btn btn-outline-primary btn-block">Search</button>
                </div>
            <% end %>
            <div class="col-md-12">
                <%= button_to "New workout", new_workout_path, method: :get, class: "btn btn-outline-success btn-block" if logged_in? %>
            </div>
        </div>
    </aside>

    <div class="col-md-9">
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <h3 class="text-center"><%= workout_index_title %></h3>
            </div>
        </div>
        <%= render(@workouts) || query_not_found_for("workouts") %>
    </div>
</div>