<div class="row" >
    <aside class="col-md-3 mb-3">
        <div class="p-3 bg-light rounded navbar-nav ml-auto text-center border <%= "border-warning" if starred?(@workout) %>">
            <div class="py-3">
                <%= star_object(@workout) %><br>
                <%= content_tag :h3, @workout.name %>
                <%= content_tag :p, @workout.html %>
                <%= button_to "Edit workout", edit_workout_path(@workout) ,method: :get, class: "btn btn-outline-primary btn-block" if admin? || permission_to_edit?(get_object)%><br>
                <%= button_to "Delete workout", workout_path(@workout) ,method: :delete, class: "btn btn-outline-danger btn-block" if admin? || permission_to_edit?(get_object) %>
            </div>
        </div>
    </aside>

    <div class="col-md-9">
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <h3 class="text-center">Routine</h3>
            </div>
        </div>
        <%= render @workout_exercises %>
    </div>
</div>