<div class="container px-5 pt-3">

    <%= alerts %>
    
    <%= form_for @user, url: users_path do |f| %>
    <div class="form-row" >
        <div class="col-md-6 mb-3">
            <%= f.label :username %>
            <%= f.text_field :username, class: form_class(@user, :username) %>
            <%= invalid_feedback(@user, :username) %>
        </div>
        <div class="col-md-6 mb-3">
            <%= f.label :email %>
            <%= f.email_field :email, class: form_class(@user, :email) %>
            <%= invalid_feedback(@user, :email) %>
        </div>
    </div>
    <div class="form-row" >
        <div class="col-md-6 mb-3">
            <%= f.label :password %>
            <%= f.password_field :password, class: form_class(@user, :password)  %>
            <%= invalid_feedback(@user, :password) %>
        </div>
        <div class="col-md-6 mb-3">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: form_class(@user, :password_confirmation)  %>
            <%= invalid_feedback(@user, :password_confirmation) %>
        </div>
    </div>
        <div class="form-group">
            <%= f.check_box :admin %>
            <%= f.label :admin, "Request admin rights" %>
        </div>
        <%= f.submit class: "btn btn-outline-primary btn-block" %>
    <% end %>

    <div class="form-row pt-3">
        <div class="col-md-6">
            <%= button_to "Log in", login_path, method: :get, class: "btn btn-outline-secondary btn-block" %>
        </div>
        <div class="col-md-6">
            <%= button_to "Log in with Google", '/auth/google_oauth2', class: "btn btn-outline-secondary btn-block" %>
        </div>
    </div>
</div>