<div class="row pt-3" >
    <aside class="col-md-3">
        <div class="p-3 bg-light rounded navbar-nav ml-auto text-center">
            <div class="py-3">
                <%= content_tag :h3, @user.username %>
                <%= content_tag :p, @user.name if @user.name %>
                <%= content_tag :p, @user.bio if @user.bio %>
                <%= link_to "Workouts", my_workouts_path(@user.username) %><br>
                <%= link_to "Starred workouts", starred_workouts_path(@user.username) %>
                <%= content_tag :p, "Joined #{ago_in_words(@user.created_at)}" %>
                <%= button_to "Edit profile", edit_profile_path(@user.username) ,method: :get, class: "btn btn-outline-primary" if @user == current_user %>
            </div>
        </div>
    </aside>

    <div class="col-md-9">
        <%= render @workouts %>
    </div>
</div>