<div class="row" >
    <aside class="col-md-3">
        <div class="p-3 bg-light rounded navbar-nav ml-auto text-center border">
            <div class="py-3">
                <%= content_tag :h3, @user.username %>
                <%= content_tag :p, @user.name if @user.name %>
                <%= content_tag :p, @user.bio if @user.bio %>
                <%= link_to "Workouts", my_workouts_path(@user.username) %><br>
                <%= link_to "Starred workouts", starred_workouts_path(@user.username) %>
                <%= content_tag :p, "Joined #{ago_in_words(@user.created_at)}" %>
                <%= button_to "Edit profile", edit_profile_path(@user.username) ,method: :get, class: "btn btn-outline-primary" if admin? || @user == current_user %>
            </div>
        </div>
    </aside>

    <div class="col-md-9">
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <h3 class="text-center">Recent workouts for <%= @user.username %></h3>
            </div>
        </div>
        <%= render(@workouts) || render(partial: 'layouts/no_workouts_to_show') %>
    </div>
</div>