<%= form_for([@muscle,@exercise]) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :information %>
        <%= f.text_field :information %>
    </div>
    <%= exercise_form_muscle_field(f) %>
    <%= f.submit %>
<% end %>